<% if @spots %>
    <h1>Spots for: <%= @calendar.name %></h1>
    <% @spots[:days].each do |day| %>
    <h1><%= local_time(day[:day], '%d-%m-%Y') %></h1>

    <% day[:spots].each do |spot| %>

    <% if spot.visitor_email == nil %>
      <%= link_to spot_reserve_path(spot.slug), class: 'button' do %>
        <time datetime="<%= spot.start_date%>"><%= local_time(spot.start_date, '%H:%M') %></time> -
        <time datetime="<%= spot.end_date%>"><%= local_time(spot.end_date, '%H:%M') %></time>
        |
        Take this spot
      <% end %>
      <% else %>
        <div class="taken">
          <time datetime="<%= spot.start_date%>"><%= local_time(spot.start_date, '%H:%M') %></time> -
          <time datetime="<%= spot.end_date%>"><%= local_time(spot.end_date, '%H:%M') %></time>
          |
          This spot has been taken.
        </div>
      <% end %>
    <% end %>
  <% end %>
 <% else %>
  <h1>Spots for <%= @calendar.name %> </h1>
  <h2>Deeply sorry, no spots available </h2>
<% end %>
