<% if @spots %>
    <h1><%= @calendar.name %></h1>
    <% @spots[:days].each do |day| %>

    <div class="spot-group">
    <h2><%= local_time(day[:day], '%e %B') %><span class="smaller-date"><%= local_time(day[:day], '%d-%m-%Y') %></span></h2>

    <% day[:spots].each do |spot| %>

    <% if spot.visitor_email == nil %>
      <%= link_to spot_reserve_path(spot.slug), class: 'button' do %>
        <time datetime="<%= spot.start_date%>"><%= local_time(spot.start_date, '%H:%M') %></time> -
        <time datetime="<%= spot.end_date%>"><%= local_time(spot.end_date, '%H:%M') %></time>
        <span class="take-spot">Take this spot</span>
      <% end %>
      <% else %>
        <div class="taken">
          <time datetime="<%= spot.start_date%>"><%= local_time(spot.start_date, '%H:%M') %></time> -
          <time datetime="<%= spot.end_date%>"><%= local_time(spot.end_date, '%H:%M') %></time>
          |
          This spot has been taken.
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>

 <% else %>
  <h1>Spots for <%= @calendar.name %> </h1>
  <h2>Deeply sorry, no spots available </h2>
<% end %>
