 
 
 
<%= link_to :back, class: 'link' do %>

<svg width="24px" height="16px" viewBox="0 0 24 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="App" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Afspraak" transform="translate(-35.000000, -127.000000)" fill="#E7E4EE">
            <g id="assets/icons/arrow" transform="translate(46.600922, 135.000000) scale(-1, 1) translate(-46.600922, -135.000000) translate(35.000000, 127.000000)">
                <polygon transform="translate(11.600922, 8.000000) rotate(-180.000000) translate(-11.600922, -8.000000) " points="8.00278293 0 1.5235185 6.47975554 1.52046273 6.4766452 0 7.99710793 0.00311033504 8.00021827 0 8.00327404 1.52046273 9.52373677 1.5235185 9.520681 8.00294663 16 9.52340936 14.4795373 4.11933864 9.07546655 23.2018444 9.07546655 23.2018444 6.92486085 4.11933864 6.92486085 9.52340936 1.52029903 8.00305577 0"></polygon>
            </g>
        </g>
    </g>
</svg>

<% end %>
<h1> <%= local_time(@spot.start_date,'%e %B') %>: <%= local_time(@spot.start_date, '%H:%M') %> -  <%= local_time(@spot.end_date, '%H:%M') %></h1>

<%= form_with url: "/spot/reserve/#{@spot.slug}", data: { turbo: false }, method: :patch do |form| %>
  <% if @spot.errors.any? %>
    <div class="errors">
      <% @spot.errors.full_messages.each do |msg| %>
        <p><%= msg %></p>
      <% end %>
      </div>
  <% end %>


  <%= form.label :visitor_name, "Your name:" %>
  <%= form.text_field :visitor_name, class: "input", autofocus: true %>
  <%= form.label :visitor_email, "Your e-mail:" %>
  <%= form.email_field :visitor_email %>

  <%= form.label :comment, "Optional comment for host:" %>
  <%= form.text_area :comment, class: "input" %>

  <%= form.submit "Create appointment" %>

<% end %>
