<div class="box">

  <% if @spot %>

    <h1> Spot for <%= @spot.calendar.name %> at:
      <%= local_time(@spot.start_date, '%d-%m-%y at %H:%M') %> -
       <%= local_time(@spot.end_date, '%H:%M') %>
    </h1>

    <h1>
      Reserved by: <%= @spot.visitor_name %>
    </h1>
    <br><br>
   <%= link_to "Cancel this appointment", spot_cancel_path(@spot.slug) %>
   <br>
   <%= link_to "Add to calendar", spot_ical_path(@spot.slug) %>

  <% else %>
    <br>
    <div class="box">
      <h1>Deeply sorry, no spot found</h1>
    </div>
  <% end %>

</div>

