<!DOCTYPE html>
<html>
  <head>
    <title>Hamaki | personal meetings made easy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "local-time.js" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "site.js" %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  </head>

  <body>
    <header>
      <h1>Hamaki</h1>
    </header>
    <main class="container">
      <%= yield %>
      <footer>Copyright 2022 - Tjerk and Ray</footer>
    </main>
  </body>
</html>
